section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article.usuario {
  width: 49.5%;
}

div.card img {
  width: 100%;
  height: 100%;
}

div.card ul li {
  text-align: center;
}
