section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

article.usuario {
  width: 49.5%;
}

div.card img {
  width: 100%;
  height: 100%;
}

div.card ul li {
  text-align: center;
}

form.filtrar{
  align-items: center;
  background-color: #000;
  color: #fff;
  padding:0.5rem;
  margin-bottom: 1rem;
}

form.filtrar div.filtrar-botones {
  justify-content: space-around;
}
